{% extends 'base.html' %}

{% block title %}Registrar Hincha{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">{% endblock %}

{% block content %}
        {% if error %}
            {% for e in error %}
                <div class="error-message">
                    {{ e }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container">
            <div id = "val-box" hidden>
                <h2 id="val-msg">Fallo Validación</h2>
                <ul id="val-list"></ul>
            </div>
            <form class="formulario" id="agregar-hincha" name="agregar-hincha" action="{{ url_for('registrar_hincha') }}" method="post" enctype="multipart/form-data">
                <div id="checkbox-container" class="grupo-input">
                    <label>Deporte que desea apoyar:</label>
                    <div id="deporte-checkboxes">
                        <input type="checkbox" name="deporte" value="Adiestramiento ecuestre">Adiestramiento ecuestre
                        <input type="checkbox" name="deporte" value="Atletismo">Atletismo
                        <input type="checkbox" name="deporte" value="Bádminton">Bádminton
                        <input type="checkbox" name="deporte" value="Balonmano">Balonmano
                        <input type="checkbox" name="deporte" value="Básquetbol">Básquetbol
                        <input type="checkbox" name="deporte" value="Básquetbol 3x3">Básquetbol 3x3
                        <input type="checkbox" name="deporte" value="Béisbol">Béisbol
                        <input type="checkbox" name="deporte" value="Boxeo">Boxeo
                        <input type="checkbox" name="deporte" value="Bowling">Bowling
                        <input type="checkbox" name="deporte" value="Breaking">Breaking
                        <input type="checkbox" name="deporte" value="Canotaje Slalom">Canotaje Slalom
                        <input type="checkbox" name="deporte" value="Canotaje de velocidad">Canotaje de velocidad
                        <input type="checkbox" name="deporte" value="Ciclismo pista">Ciclismo pista
                        <input type="checkbox" name="deporte" value="Ciclismo ruta">Ciclismo ruta
                        <input type="checkbox" name="deporte" value="Clavados">Clavados
                        <input type="checkbox" name="deporte" value="Escalada deportiva">Escalada deportiva
                        <input type="checkbox" name="deporte" value="Esgrima">Esgrima
                        <input type="checkbox" name="deporte" value="Esquí acuático y Wakeboard">Esquí acuático y Wakeboard
                        <input type="checkbox" name="deporte" value="Fútbol">Fútbol
                        <input type="checkbox" name="deporte" value="Gimnasia artística Femenina">Gimnasia artística Femenina
                        <input type="checkbox" name="deporte" value="Gimnasia artística Masculina">Gimnasia artística Masculina
                        <input type="checkbox" name="deporte" value="Gimnasia rítmica">Gimnasia rítmica
                        <input type="checkbox" name="deporte" value="Gimnasia trampolín">Gimnasia trampolín
                        <input type="checkbox" name="deporte" value="Golf">Golf
                        <input type="checkbox" name="deporte" value="Hockey césped">Hockey césped
                        <input type="checkbox" name="deporte" value="Judo">Judo
                        <input type="checkbox" name="deporte" value="Karate">Karate
                        <input type="checkbox" name="deporte" value="Levantamiento de pesas">Levantamiento de pesas
                        <input type="checkbox" name="deporte" value="Lucha">Lucha
                        <input type="checkbox" name="deporte" value="Maratón">Maratón
                        <input type="checkbox" name="deporte" value="Marcha">Marcha
                        <input type="checkbox" name="deporte" value="Mountain Bike">Mountain Bike
                        <input type="checkbox" name="deporte" value="Natación">Natación
                        <input type="checkbox" name="deporte" value="Natación artística">Natación artística
                        <input type="checkbox" name="deporte" value="Natación en Aguas abiertas">Natación en Aguas abiertas
                        <input type="checkbox" name="deporte" value="Patinaje artístico">Patinaje artístico
                        <input type="checkbox" name="deporte" value="Patinaje velocidad">Patinaje velocidad
                        <input type="checkbox" name="deporte" value="Pelota vasca">Pelota vasca
                        <input type="checkbox" name="deporte" value="Pentatlón moderno">Pentatlón moderno
                        <input type="checkbox" name="deporte" value="Polo acuático">Polo acuático
                        <input type="checkbox" name="deporte" value="Racquetball">Racquetball
                        <input type="checkbox" name="deporte" value="Remo">Remo
                        <input type="checkbox" name="deporte" value="Rugby 7">Rugby 7
                        <input type="checkbox" name="deporte" value="Salto ecuestre">Salto ecuestre
                        <input type="checkbox" name="deporte" value="Skateboarding">Skateboarding
                        <input type="checkbox" name="deporte" value="Sóftbol">Sóftbol
                        <input type="checkbox" name="deporte" value="Squash">Squash
                        <input type="checkbox" name="deporte" value="Surf">Surf
                        <input type="checkbox" name="deporte" value="Taekwondo">Taekwondo
                        <input type="checkbox" name="deporte" value="Tenis">Tenis
                        <input type="checkbox" name="deporte" value="Tenis de mesa">Tenis de mesa
                        <input type="checkbox" name="deporte" value="Tiro">Tiro
                        <input type="checkbox" name="deporte" value="Tiro con arco">Tiro con arco
                        <input type="checkbox" name="deporte" value="Triatlón">Triatlón
                        <input type="checkbox" name="deporte" value="Vela">Vela
                        <input type="checkbox" name="deporte" value="Vóleibol">Vóleibol
                        <input type="checkbox" name="deporte" value="Vóleibol playa">Vóleibol playa
                    </div>
                </div>

                <div id="region-selection" class="grupo-input">
                    <label for="region">Región en donde vive:</label>
                    <select id="region" name="region" required>
                        <option value="" disabled selected>Seleccione una Opción</option>
                    </select>
                </div>

                <div id="comuna-selection" class="grupo-input">
                    <label for="comuna">Comuna donde vive:</label>
                    <select id="comuna" name="comuna" required>
                        <option value="" disabled selected>Seleccione una Opción</option>
                    </select>
                </div>

                <div id="transporte-selection" class="grupo-input">
                    <label for="transporte">Modo de transporte:</label>
                    <select id="transporte" name="transporte" required>
                        <option value="" disabled selected>Seleccione una Opción</option>
                    </select>
                </div>

                <div id="name-input" class="grupo-input">
                    <label for="name">Ingrese su nombre:</label>
                    <input type="text" id="name" name="name" minlength="3" maxlength="80" required>
                </div>

                <div id="email-input" class="grupo-input">
                    <label for="email">Ingrese su Email de contacto:</label>
                    <input type="email" id="email" name="email" maxlength="30" required>
                </div>

                <div id="phone-input" class="grupo-input">
                    <label for="phone">Ingrese su número de celular de contacto:</label>
                    <input type="text" id="phone" name="phone" maxlength="15">
                </div>

                <div id="comments-input" class="grupo-input">
                    <label for="comentarios">¿Algún comentario adicional?:</label>
                    <input type="text" id="comentarios" name="comentarios" maxlength="80">
                </div>
                
                <div class="buttons">
                    <button id = "submit-btn" type="submit" onclick="validateForm()">
                        Registrar Hincha
                    </button>
                </div>
            </form>
        </div>
{% endblock %}

{% block javascript %}<script src="{{ url_for('static', filename='js/nuevojs.js') }}"></script>{% endblock %}
