{% extends 'base.html' %}

{% block title %} Juegos Panamericanos Chile 2023 {% endblock %}

{% block message %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <p>{{ messages }}</p>
{% endif %}
{% endwith %}
{% endblock %}

{% block header %}
    <header>
        <h1>Juegos Panamericanos Chile 2023</h1>
    </header>
{% endblock %}

{% block css %}
    <link 
        rel="stylesheet" 
        href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block content %}
    <nav>
        <a href="{{ url_for('registrar_hincha') }}">Registrar Hincha</a>
        <a href="{{ url_for('registrar_artesano') }}">Registrar Artesano</a>
        <a href="{{ url_for('listado_hinchas') }}">Ver Listado de Hinchas</a>
        <a href="{{ url_for('listado_artesanos') }}">Ver Listado de Artesanos</a>
    </nav>
{% endblock %}

{% block img %}
    <div class="image-container">
        <img src="{{ url_for('static', filename='jpg/logo_juegos_panam.png') }}" alt="Imagen de los Juegos Panamericanos" width="1585" height="200">
    </div>
{% endblock %}