{% extends 'base.html' %}

{% block title %}Listado de Hinchas - Juegos Panamericanos{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/listado.css') }}">{% endblock %}

{% block header %}
    <header>
        <h1>Listado de Hinchas - Juegos Panamericanos</h1>
    </header>
{% endblock %}

{% block info %}
    <main>
        <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Comuna</th>
                <th>Deportes</th>
                <th>Modo de Transporte</th>
                <th>Número de Celular</th>
            </tr>
        </thead>
            <tbody>
                {% if info_hinchas %}
                    {% for hincha in info_hinchas %}
                        <tr class="fila-hincha">
                            <td><a class="no-link-style" href="{{ url_for('ver_hincha', id=hincha.id) }}">{{ hincha.name }}</a></td>
                            <td><a class="no-link-style" href="{{ url_for('ver_hincha', id=hincha.id) }}">{{ hincha.comuna }}</a></td>
                            <td><a class="no-link-style" href="{{ url_for('ver_hincha', id=hincha.id) }}">{{ hincha.deportes[0] }}{{ ", "}}
                                                                                                          {{ hincha.deportes[1] }}{{ ", "}}
                                                                                                          {{ hincha.deportes[2] }}</a></td>
                            <td><a class="no-link-style" href="{{ url_for('ver_hincha', id=hincha.id) }}">{{ hincha.transporte }}</a></td>
                            <td><a class="no-link-style" href="{{ url_for('ver_hincha', id=hincha.id) }}">{{ hincha.phone }}</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}" class="volver-button">Volver a la Portada</a>
    </main>
{% endblock %}

{% block javascript %}<script src="{{ url_for('static', filename='js/script.js') }}"></script>{% endblock %}

