{% extends 'base.html' %}

{% block title %}Información del Artesano{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/informacion.css') }}">{% endblock %}


{% block header %}
    <header>
        <h1>Información del Artesano</h1>
    </header>
    <main>
        <div class="info">
            <h2>Nombre del Artesano:</h2>
            <p id="nombreArtesano">{{ info_artesano.name }}</p>

            <h2>Teléfono:</h2>
            <p id="telefonoArtesano">{{ info_artesano.phone }}</p>

            <h2>Región:</h2>
            <p id="regionArtesano">{{ info_artesano.region }}</p>

            <h2>Comuna:</h2>
            <p id="comunartesano">{{ info_artesano.comuna }}</p>

            <h2>Tipo(s) de Artesanía(s):</h2>
            {% for tipo in info_artesano.tipos %}
                <p id="tipoArtesania">{{ tipo }}</p>
            {% endfor %}

            <h2>Fotos:</h2>
            {% for img in info_artesano.img %}
            <a href="{{ url_for('index') }}" target="_blank">
                <img src="{{ url_for('static', filename='/uploads' + info_artesano.img) }}" width="640" height="480" alt="text">
            </a>
            {% endfor %}

            <h2>Descripción de la Artesanía:</h2>
            <p id="descripcionArtesania">{{ info_artesano.description }}</p>

            <h2>Email de Contacto:</h2>
            <p id="emailHincha">{{ info_artesano.email }}</p>

            <a href="{{ url_for('listado_artesanos') }}">Volver al Listado de Artesanos</a>
        </div>
    </main>
{% endblock %}
